# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Models (optional to ignore if they are very large, but Streamlit Cloud needs them)
models/*.h5
# *.pkl
